@media (max-width: 1024px) {
    
    #programacao{
        margin-top: 0px;
        margin-bottom: 50px;
    }
    
    #youtube{
        width: 50%;
        margin: 0;
        margin-bottom: 30px;
    }
    
    #facebook{
        width: 50%;
        margin: 0;
    }
}


@media (max-width: 768px) {

    main {
        padding: 30px;
    }

    main > img{
        width: 120px;
    }

    main > h3{
        font-size: 1.7em;
    }

    main > h1{
        font-size: 2.5em;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    main > h2{
        font-size: 1.7em;
    }

    section#contribuicao > p {
        line-height: 30px;
    }

    section#container h2{
        font-size: 1.7em;
    }

    #programacao{
        display: block;
        text-align: center;
    }

}