@media (max-width: 1024px) {
    #programacao h2{
        font-size: 1.7em;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #programacao hr{
        width: 80%;
        margin:auto
    }

    
    #youtube{
        width: 45%;
        margin: 0;
        margin-bottom: 30px;
    }
    
    #facebook{
        width: 45%;
        margin: 0;
    }
}


@media (max-width: 768px) {
    #content{
        margin-top: -10px;
        
    }

    #content img{
        width: 120px;
    }

    #content h3{
        font-size: 1.7em;
    }

    #content h1{
        font-size: 2.5em;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    #content h2{
        font-size: 1.7em;
    }

    #programacao{
        margin-top: -50px;
        margin-bottom: -50px;
    }

    #youtube{
        width: 100%;
        margin: 0;
        margin-bottom: 30px;
    }
    
    #facebook{
        width: 100%;
        margin: 0;
    }
}