
@media (max-width: 1024px) {

    nav > a {
        line-height: 50px;
    }
    footer{
        font-size: 0.8em;

    }

    footer > span{
        margin-left: 0px;
    }

    span.end{
        top: 20%;
        line-height: 25px;
    }

    span.desen{
        top: 75%;
    }

    footer > img{
        margin-left: 10px;
        margin-bottom: -10px;
    }


}


@media (max-width: 768px) {

    header > h1 {
        margin-top: 60px;
    }
    #menu{
        display: none;
    }

    header > img{
        margin-left: 20px;
    }

    .checkbtn{
        display: block;
    }

    .checkbtn p{
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(0, 40%);
    }
      
    #check:checked ~ #menu{
        display: block;
    }

    nav > a{
        display: block;
        background-color: rgb(221, 218, 218);
        transition: all .5s;
        line-height: 50px;
    }

    footer{
        font-size: 0.6em;

    }

    span.end{
        top: 10%;
        line-height: 20px;
    }

    span.desen{
        top: 85%;
    }


}
