@charset "UTF-8";

header{
    background-image: linear-gradient(to bottom, var(--cor0),var(--cor1),var(--cor2));
    padding: 20px;
}

header > img{
    margin-left: 100px;
}

header > h1{
    display: inline-block;
    width: 170px;
    position: absolute;
    margin-top: 40px;
    text-align: center;
    font-size: 1.3em;
}

.checkbtn{
    float: right;
    width: 90px;
    height: 40px;
    display: none;
    color: white;
    background-color: #8A0B0B;
    border-radius: 15px 15px 15px 0;
    text-transform: uppercase;
}

#check{
    display: none;
}

#menu{
    margin-top: 10px;
    text-align: center;
}

nav{
    /* float: right;
    margin-right: 30px;
    margin-top: 30px; */
    font-size: 0.em;
    padding: 10px;

}

nav > a{
    text-decoration: none;
    padding: 10px;
    color: black;
    transition-duration: .3s;
}


nav > a:hover{
    background-color: #8A0B0B;
    color: white;
}


footer{
    position: relative;
    font-size: 0.8em;
    font-weight: bold;
    background-color: rgba(221, 218, 218, 0.37);
}

footer > span{
    float: right;
    position: absolute;
    margin-left: 70px;
}

span.end{
    top: 30%;
    line-height: 20px;
}

span.desen{
    top: 70%;
}

footer > img{
    margin-left: 50px;
    padding: 10px;

}

