@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(169, 169, 169, 0.459);
    font-family: 'Montserrat', sans-serif;
}


main{
    background-image: url(../images/sao-judas-tadeu-sjc.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 150px;
    margin-bottom: 100px;
}

main > h3{
    color: black;
    font-size: 2em;
    margin-top: 20px;
}

main > h1{
    color: black;
    font-weight: bold;
    font-size: 3.5em;
    margin-bottom: 20px;
    margin-top: 20px;
}

main > h2{
    color: black;
    font-size: 1.7em;
    margin-bottom: 100px;
}

section#contribuicao{
    width: 90%;
    
}

section#contribuicao > p{
    margin-left: 100px;
    text-align: justify;
    line-height: 25px;
    font-size: 1.1em;
    margin-bottom: 20px;
}

section > #button {
    display: block;
    padding: 20px 30px 20px 30px;
    background-color: #8A0B0B;
    color: white;
    font-weight: bold;
    font-size: 1em;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 40px;
}

section > #button:hover{
    background-color: #4b272a;
}

section#container h2{
    text-align: center;
    font-size: 2em;
    padding: 20px;
}

#programacao{
    display: inline-block;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

#container{
    background-color: white;

}

#youtube p{
    padding: 40px;
    text-align: center;

}

#youtube{
    float: left;
    width: 35%;
    margin-left: 10%;
    height: 500px;
    background-color: aqua;
}

#facebook p{
    padding: 40px;
    text-align: center;
}

#facebook{
    float: right;
    width: 35%;
    height: 500px;
    margin-right: 10%;
}





