@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cuprum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}

#content{
    background-image: url(../images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    /* background-image: linear-gradient(to right, #57DDEB, #5BBEF5); */
    padding: 100px;
    margin-bottom: 100px;
    margin-top: 200px;
}

#content h3{
    font-family: 'Cuprum', sans-serif;
    color: white;
    font-size: 2em;
    font-weight: normal;
    margin-top: 20px;
}

#content h1{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 4em;
    font-weight: 200;
    margin-bottom: 20px;
    margin-top: 20px;
}

#content h2{
    font-family: 'Cuprum', sans-serif;
    color: white;
    font-size: 1.7em;
    font-weight: normal;
    margin-bottom: 100px;
}

#programacao h2{
    font-family:'Cuprum', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 30px;
    font-size: 2em;
}

#programacao hr{
    width: 70%;
    margin:auto
}

#container{
    display: inline-block;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

#youtube p{
    padding: 40px;
    text-align: center;

}

#youtube{
    float: left;
    width: 35%;
    margin-left: 10%;
    height: 500px;
    background-color: aqua;
}

#facebook p{
    padding: 40px;
    text-align: center;
}

#facebook{
    float: right;
    width: 35%;
    height: 500px;
    margin-right: 10%;
    background-color: aqua;
}





