@charset "UTF-8";

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
}

.checkbtn{
    float: right;
    width: 90px;
    height: 40px;
    display: none;
    color: white;
    background-color: #8A0B0B;
    border-radius: 15px 15px 15px 0;
    text-transform: uppercase;
}

#check{
    display: none;
}

header{
    background-image: linear-gradient(to bottom, var(--cor3 ),transparent);
    padding: 20px;
}

header > img{
    margin-left: 100px;
    margin-bottom: 20px;
}

header > h1{
    display: inline-block;
    width: 170px;
    position: absolute;
    margin-top: 40px;
    text-align: center;
    font-size: 1.3em;
}

nav{
    font-size: 1.1em;
    padding: 10px;
    margin-top: 10px;
    text-align: center;

}

nav > a{
    text-decoration: none;
    padding: 10px;
    color: black;
    transition-duration: .3s;
}


nav > a:hover{
    background-color: #8A0B0B;
    color: white;
    border-radius: 5px;
}


footer{
    font-size: 0.8em;
    font-weight: bold;
    background-color: var(--cor1);
    max-height: 100px;
    padding: 20px 0px 20px 0px ;
}

footer > img{
    margin-left: 50px;
    width: 150px;
}

footer > p{
    text-align: center;
    line-height: 25px;

}


